@import '../core/variables.scss';

.clientCard {
  padding: rem(7) 0;
  width: rem(195);
  height: rem(130);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: rem(3) solid grey;
  border-radius: rem(10);
  margin: rem(5);
  background-color: white;
  box-shadow: rem(3) rem(5) rem(5) grey;
  @include tablet {
    width: rem(230);
    height: rem(140);
    margin: rem(7);
  }
  @include desktop {
    width: rem(260);
    height: rem(160);
    margin: rem(10);
  }
  &__name,
  &__lastName {
    font-size: rem(18);
    color: black;
    text-transform: capitalize;
    @include tablet {
      font-size: rem(20);
    }
    @include desktop {
      font-size: rem(24);
    }
  }
  &__email {
    font-size: rem(10);
    @include tablet {
      font-size: rem(12);
    }
    @include desktop {
      font-size: rem(14);
    }
  }
  &__country {
    font-size: rem(15);
    padding-bottom: rem(5);
    @include tablet {
      font-size: rem(16);
    }
    @include desktop {
      font-size: rem(18);
    }
  }
}
.btnSection {
  display: flex;
  &__btnEdit {
    width: rem(40);
    border-radius: rem(5);
    background-color: $brandColor-1;
    margin-right: rem(10);
    border: none;
    @include tablet {
      width: rem(50);
    }
    @include desktop {
      width: rem(60);
    }
    &--link {
      color: white;
      font-size: rem(12);
      @include tablet {
        font-size: rem(14);
      }
      @include desktop {
        font-size: rem(16);
      }
    }
  }
  &__btnRemove {
    width: rem(20);
    height: rem(20);
    background-color: rgb(241, 80, 80);
    border-radius: rem(5);
    border: none;
    cursor: pointer;
    @include tablet {
      width: rem(30);
      height: rem(25);
    }
    @include desktop {
      width: rem(40);
      height: rem(30);
    }
  }
}
.fa-trash-alt {
  color: white;
  @include tablet {
    font-size: rem(14);
  }
  @include desktop {
    font-size: rem(16);
  }
}
