@import '../core/variables.scss';

.listContainer {
  margin: 0 3%;

  &__header {
    width: 100%;

    &--title {
      text-align: center;
      margin-top: rem(10);
    }
  }
}

.clientListTitle {
  text-align: center;
  padding: rem(20) 0;
  @include desktop {
    padding: rem(40) 0;
  }
}
.clientList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
