@import '../core/variables.scss';

.footer {
  position: fixed;
  bottom: 0;
  right: 0;

  &__btnNew {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: rem(30);
    width: rem(60);
    height: rem(60);
    border: rem(2) solid rgb(107, 106, 106);
    border-radius: 50%;
    font-size: rem(40);
    background-color: $brandColor-1;
    transition: all ease 0.5s;
    &:hover {
      transform: scale(1.1);
      background-color: white;
    }
    @include tablet {
      width: rem(70);
      height: rem(70);
      font-size: rem(50);
    }
    @include desktop {
      width: rem(80);
      height: rem(80);
      font-size: rem(60);
      margin: rem(60);
    }
    &--link {
      color: white;
      padding: rem(15);
      &:hover {
        color: rgb(105, 103, 103);
      }
    }
  }
}
