@import '../core/variables.scss';

.formContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: rem(320);
  background-color: white;
  padding: rem(20);
  border: rem(2) solid grey;
  border-radius: rem(10);
  box-shadow: rem(3) rem(5) rem(7) grey;
  @include tablet {
    width: rem(420);
  }
  @include desktop {
    width: rem(500);
  }
  &__label {
    @include text;
    padding-top: rem(10);
  }

  &__input {
    height: rem(30);
    margin: rem(10) 0;
    border-radius: rem(5);
    padding-left: rem(5);
    @include text;
    @include tablet {
      height: rem(40);
    }
    @include desktop {
      height: rem(45);
    }
  }
  &__submitSection {
    display: flex;
    justify-content: space-between;
    margin-top: rem(20);
  }
  &__submit {
    @include button {
      width: rem(65);
      height: rem(25);
      border-radius: rem(5);
      font-size: rem(14);
    }
    @include tablet {
      width: rem(75);
      height: rem(30);
      font-size: rem(16);
    }
    @include desktop {
      width: rem(90);
      height: rem(35);
      font-size: rem(18);
    }
  }
  .btnCreate {
    background-color: rgb(93, 245, 47);
    &:hover {
      background-color: rgb(81, 207, 42);
    }
  }
  .btnCancel {
    background-color: rgb(223, 219, 219);
    &:hover {
      background-color: rgb(201, 197, 197);
    }
  }
}
