@import '../core/variables.scss';

.listContainer {
  /*  margin: 5%; */

  &__header {
    width: 100%;

    &--title {
      text-align: center;
      margin-top: rem(10);
    }
  }
}

.clientListTitle {
  text-align: center;
  padding: rem(10) 0;
}
.clientList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
