@import '../core/variables.scss';

.clientCard {
  padding: rem(7) 0;
  height: rem(125);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: rem(10);
  margin: rem(5);
  background-color: white;
  box-shadow: rem(3) rem(5) rem(5) rgb(158, 157, 157);
  @include widthMedia {
    @include tablet {
      height: rem(140);
      margin: rem(7);
    }
    @include desktop {
      height: rem(160);
      margin: rem(10);
    }
  }
  &__name,
  &__lastName {
    font-size: rem(18);
    color: black;
    text-transform: capitalize;
    @include tablet {
      font-size: rem(20);
    }
    @include desktop {
      font-size: rem(24);
    }
  }
  &__email {
    font-size: rem(10);
    @include tablet {
      font-size: rem(12);
    }
    @include desktop {
      font-size: rem(14);
    }
  }
  &__country {
    font-size: rem(15);
    padding-bottom: rem(5);
    @include tablet {
      font-size: rem(16);
    }
    @include desktop {
      font-size: rem(18);
    }
  }
}
.btnSection {
  display: flex;
  justify-content: space-evenly;
  @include widthMedia;

  &__btnEdit,
  &__btnRemove {
    @include button {
      width: rem(65);
      height: rem(25);
      background-color: $brandColor-1;
      &:hover {
        background-color: rgb(8, 144, 207);
      }
    }
    @include tablet {
      width: rem(70);
    }
    @include desktop {
      width: rem(80);
    }
    &--link {
      color: white;
      font-size: rem(14);
      @include tablet {
        font-size: rem(16);
      }
      @include desktop {
        font-size: rem(16);
      }
    }
  }
  &__btnRemove {
    background-color: rgb(248, 95, 95);
    &:hover {
      background-color: rgb(224, 32, 32);
    }
  }
  .fa-trash-alt {
    color: white;
    @include tablet {
      font-size: rem(14);
    }
    @include desktop {
      font-size: rem(16);
    }
  }
}
